-r services/agents/adk_a2a_agent/requirements.in
-r services/agents/adk_mcp_agent/requirements.in
-r services/agents/langchain_mcp_agent/requirements.in
-r services/store/requirements.in
-r services/third_party_shipment/requirements.in
pyyaml>=6.0.2
python-dotenv==1.0.1
google-adk[eval]
